<div class=" content">
  <h1 class="text-muted">Company and organisation</h1>
  <div class=" row">
    <div class="col-md-12 text-info mt-5 mb-5">
      <em>To modify the company information, click on the parameter to modify. The modification will be automatically
        saved.</em>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">General informations</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">

              <tbody>
              <tr>
                <td><Strong>Company name</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Adress</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Zip code</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>City</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Country</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Departement</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Main currency</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Phone</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Fax</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Mail</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Website</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Logo</Strong></td>
                <td>Niger</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Regulatory identifiers</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <tbody>
              <tr>
                <td><Strong>Name of de manager(s)(president, ceo, director)</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Capital</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Legal form</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 1</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 2</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 3</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 4</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 5</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 6</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>vat number</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Departement</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Main currency</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Phone</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Fax</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Mail</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Website</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Logo</Strong></td>
                <td>Niger</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">information on the fiscal year</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <tbody>
              <tr>
                <td><Strong>activity start month</Strong></td>
                <td>January</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">VAT management</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <tbody>
              <tr>
                <td><Strong>Name of de manager(s)(president, ceo, director)</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Capital</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Legal form</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 1</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 2</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 3</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 4</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 5</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>professional identifier 6</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>vat number</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Departement</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Main currency</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Phone</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Fax</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Mail</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Website</Strong></td>
                <td>Niger</td>
              </tr>
              <tr>
                <td><Strong>Logo</Strong></td>
                <td>Niger</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
